<html>
<head><meta charset="UTF-8"></head>
<body>
 	<div th:if="${#fields.hasAnyErrors()}" th:fragment="validacao">	<!-- verifica se há algum campo validado que não passou no teste -->
		  <div class="alert alert-danger alert-dismissible fade show" role="alert">
		  <div th:each="error : ${#fields.detailedErrors()}"> <!-- neste metodo temos cada um do erros referente a validação -->
		    <i class="oi oi-warning"></i>
		  	<span th:text="${error.message}"></span> <!-- contem as mensagens de erro e validação -->
		  </div>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>			
</body>
</html>	
